.caixa{
    background-color: 
    #43413c
}

.titulo{
   color: #ac9652 !important;
   font-weight: bold !important;
   font-style: italic;
}

.botao{
    border-color: #7f9bd5 !important;
    background-color: #7f9bd5 !important;
    color: white !important;
    font-weight: bold !important;
}

.postagens{
    background-color: #f825c3;
}

.imagem01{
    width: 1020px;

}