.box1{
    background-color: #f1f2b7;
    height: 120px;
}

.box2{
    background-color: #f1f2b7;
    height: 60px;
}

.redes{
    font-size: 40px !important;
    color: #ac9652;
}

.textos{
   color: black;
   font-style: oblique;
   text-decoration: none;
}