.box1{
    background-color: #5D283E;
    height: 120px;
}

.box2{
    background-color: #5D283E;
    height: 60px;
}

.redes{
    font-size: 40px !important;
    color: #00ffff;
}

.textos{
   color: white;
}